@{
ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="text-center">
        <h1 class="display-4">Login</h1>
    </div>
    @model LoginUser
    <div class="fixedTopRight"><a href="/">Register</a></div>
    <form asp-action="Login" method="post">

        <table>
            <tr class="top">
                <td>
                    <div>
                        <span class="ValidationError" asp-validation-for="Email"></span> <br>
                        <label class="InputLabel" asp-for="Email"></label>
                        <input class="InputField" asp-for="Email">
                    </div>
                    <div>
                        <span class="ValidationError" asp-validation-for="Password"></span> <br>
                        <label class="InputLabel" asp-for="Password"></label>
                        <input class="InputField" asp-for="Password">
                    </div>
                </td>
            </tr>
        </table>
        <input class="InputButton" type="submit" value="Sign Up now">
    </form>
</div>