/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("/img/WeddingBackground.jpg");
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.wrapper{
  width: 900px;
  margin: 30px auto;
  border: 3px solid whitesmoke;
  padding: 30px;
  background: white;
}
.ValidationError{
color: red;
font-size: smaller;
}
.InputLabel{
width: 150px;
font-weight: 600;
}
.InputField{
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 3px;
}
.InputButton{
  width: 200px;
  height: 40px;
  margin: 20px;
  padding: 3px;
}
.FieldDisplay{
  width: 150px;
  height: 40px;
  margin: 5px;
  padding: 3px;
  font-weight: 500;
}
.top{
  vertical-align: top;
}
.fixedTopRight{
  float: right;
  vertical-align: top;
  }
  .fixedBottomRight{
    float: right;
    vertical-align: bottom;
    }
.dividerArea{
  width: 300px;
  height: 50px;
}
.indented{
  margin-left: 100px;
}

.paddedLarge
{
padding: 50px;
}

.paddedMedium
{
padding: 20px;
}